modules = ["cpp-clang14", "nodejs-20", "c-clang14"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Installation"
mode = "sequential"
author = 43660491

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install expo"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm @expo/cli start"

[[workflows.workflow]]
name = "Start Expo"
author = 43660491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Start Expo"
author = 43660491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AccuHeal App"

[[workflows.workflow]]
name = "AccuHeal App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx @expo/cli start --web --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 36989
externalPort = 3001

[agent]
expertMode = true
