modules = ["cpp-clang14", "nodejs-20", "c-clang14"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Installation"
mode = "sequential"
author = 43660491

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install expo"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm @expo/cli start"

[[workflows.workflow]]
name = "Start Expo"
author = 43660491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Start Expo"
author = 43660491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "AccuHeal App"
mode = "sequential"
author = 43660491

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx @expo/cli start --web --port 5000"

[[workflows.workflow]]
name = "AccuHeal App"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx @expo/cli start --web --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 41807
externalPort = 3001

[agent]
expertMode = true

[userenv]

[userenv.shared]
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_ZW5hYmxlZC1zcXVpcnJlbC0zNi5jbGVyay5hY2NvdW50cy5kZXYk"
EXPO_PUBLIC_SUPABASE_URL = "https://ignobvlfgvcrgywkldbz.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlnbm9idmxmZ3Zjcmd5d2tsZGJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4ODEyMDEsImV4cCI6MjA3OTQ1NzIwMX0.rViT4DY-WibGoKrrMJuR40Ry4gaCGsGA1Igu7DIZGNM"
